@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-6">Welcome to MyOpenShiftApp deployed using AzureDevOps Pipeline</h1>
    <p>Learn about <a href="https://azure.microsoft.com/en-in/products/devops/">ADO and best practices</a>.</p>
</div>
<br />
<br />
<h5 class="align-content-center">Here are some best logos for Azure DevOps (ADO)</h5>
<div class="card-group">
    <div class="card">
        <img class="card-img-top" src="https://www.codeflow.be/img/AzureDevOps.jpg" height="175px" width="350px" alt="Card image cap">
    </div>
    <div class="card">
        <img class="card-img-top" src="https://logodix.com/logo/636497.png" height="175px" width="350px" alt="Card image cap">
    </div>
    <div class="card">
        <img class="card-img-top" src="https://s32860.pcdn.co/wp-content/uploads/2020/03/Azure-Devops.png" height="175px" width="350px" alt="Card image cap">
    </div>
</div>