@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This is MyDotnetOpenshift websites privacy page</p>
<div>
    <img src="https://static.vecteezy.com/system/resources/previews/005/252/187/original/shield-protection-security-free-vector.jpg" alt="logo3" height="200px" width="400px" />
</div>
